<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Create Note</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/collections/id"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'collections']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onAddNote()" #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-sm="10" offset-sm="1" class="ion-text-left" spellcheck="true" class="note-text">
          <ion-textarea placeholder="Enter text..." ngModel name="note-text" maxlength="1800" type="text" rows="16"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-sm="10" offset-sm="1" class="ion-text-center">
          <ion-button color="primary" type="submit">
            <ion-label>Add</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
