<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large" class="ion-text-center">{{currCollectionName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'collections']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="currCollectionNotes.length > 0">
    <ion-item *ngFor="let note of currCollectionNotes">
      <ion-icon name="mail-outline" slot="end"></ion-icon>
      <ion-text>{{note.text}}</ion-text>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button color="primary" [routerLink]="['/', 'collections', 'notes', 'add-note']">
      <ion-icon name="add-circle-outline" slot="end"></ion-icon>
      Add Note
    </ion-button>
  </div>
</ion-content>
