<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large" class="ion-text-center">My Note Collections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let collection of loadedCollections" class="ion-margin">
    <ion-card-header>
      <ion-card-title>{{collection.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="secondary" (click)="goToNotes(collection.id)" [routerLink]="['/', 'collections', collection.id]">
        <ion-icon name="book-outline" slot="end"></ion-icon>
        Notes
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button color="primary" (click)="onAddCollection()">
      <ion-icon slot="end" name="add"></ion-icon>
      New Collection
    </ion-button>
  </div>
</ion-content>
